p {
  font-family: 'Poppins', sans-serif;
}

h1 {
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
}

h2 {
  background-color: lightgreen;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: pink;
}
